<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>Egret1234</title>
    <meta name="viewport" content="width=device-width,initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="full-screen" content="true"/>
    <meta name="screen-orientation" content="portrait"/>
    <meta name="x5-fullscreen" content="true"/>
    <meta name="360-fullscreen" content="true"/>
    <style>
        html, body {
            -ms-touch-action: none;
            background: #888888;
            padding: 0;
            border: 0;
            margin: 0;
            height: 100%;
        }
    </style>

    <!--这个标签为通过egret提供的第三方库的方式生成的 javascript 文件。删除 modules_files 标签后，库文件加载列表将不会变化，请谨慎操作！-->
    <!--modules_files_start-->
	<script egret="lib" src="libs/modules/egret/egret.js" src-release="libs/modules/egret/egret.min.js"></script>
	<script egret="lib" src="libs/modules/egret/egret.web.js" src-release="libs/modules/egret/egret.web.min.js"></script>
	<script egret="lib" src="libs/modules/eui/eui.js" src-release="libs/modules/eui/eui.min.js"></script>
	<script egret="lib" src="libs/modules/res/res.js" src-release="libs/modules/res/res.min.js"></script>
	<script egret="lib" src="libs/modules/tween/tween.js" src-release="libs/modules/tween/tween.min.js"></script>
	<script egret="lib" src="libs/modules/game/game.js" src-release="libs/modules/game/game.min.js"></script>
	<script egret="lib" src="libs/modules/game/game.web.js" src-release="libs/modules/game/game.web.min.js"></script>
	<script egret="lib" src="libs/modules/socket.io/socket.io.js" src-release="libs/modules/socket.io/socket.io.min.js"></script>
	<!--modules_files_end-->

    <!--这个标签为不通过egret提供的第三方库的方式使用的 javascript 文件，请将这些文件放在libs下，但不要放在modules下面。-->
    <!--other_libs_files_start-->
    <!--other_libs_files_end-->

    <!--这个标签会被替换为项目中所有的 javascript 文件。删除 game_files 标签后，项目文件加载列表将不会变化，请谨慎操作！-->
    <!--game_files_start-->
	<script egret="game" src="bin-debug/AssetAdapter.js"></script>
	<script egret="game" src="bin-debug/com/common/BaseScene.js"></script>
	<script egret="game" src="bin-debug/com/common/BaseUI.js"></script>
	<script egret="game" src="bin-debug/com/common/LayerManager.js"></script>
	<script egret="game" src="bin-debug/com/common/LoadManager.js"></script>
	<script egret="game" src="bin-debug/com/common/UserManager.js"></script>
	<script egret="game" src="bin-debug/com/constant/GameConst.js"></script>
	<script egret="game" src="bin-debug/com/GameManager.js"></script>
	<script egret="game" src="bin-debug/com/net/ClientSocket.js"></script>
	<script egret="game" src="bin-debug/com/view/GameScene.js"></script>
	<script egret="game" src="bin-debug/com/view/LockScene.js"></script>
	<script egret="game" src="bin-debug/com/view/PreloadScene.js"></script>
	<script egret="game" src="bin-debug/com/view/ResultScene.js"></script>
	<script egret="game" src="bin-debug/com/view/ui/RankHead.js"></script>
	<script egret="game" src="bin-debug/com/view/ui/ResultHead.js"></script>
	<script egret="game" src="bin-debug/com/view/ui/SimpleButton.js"></script>
	<script egret="game" src="bin-debug/LoadingUI.js"></script>
	<script egret="game" src="bin-debug/Main.js"></script>
	<script egret="game" src="bin-debug/ThemeAdapter.js"></script>
	<!--game_files_end-->
</head>
<body>

	<!-- 公众号 -->
	<div id="gzh" style="background-color:#ffffff;width:100%;height:100%;text-align:center;font-family:微软雅黑;display:none">
		<div id = "gzhTitle" style="font-size:20px;color:#333333;">
			请先关注公众号
		</div>
		<br/>
		<img id="gzhImg" src="" width="200" height="200" style="margin-top:10px"/>
		<br/>
	<div style="font-size:20px;color:#ff0000;font-weight:bold";>▲长按二维码“识别”关注</div>
	</div>
	<!-- end 公众号 -->
	
    <div id="gameDiv" style="margin: auto;width: 100%;height: 100%;" class="egret-player"
         data-entry-class="Main"
         data-orientation="portrait"
         data-scale-mode="fixedWidth"
         data-frame-rate="30"
         data-content-width="640"
         data-content-height="1136"
         data-show-paint-rect="false"
         data-multi-fingered="2"
         data-show-fps="true" data-show-log="true"
         data-log-filter="" data-show-fps-style="x:0,y:0,size:30,textColor:0x00c200,bgAlpha:0.9">
    </div>
    <script>
    	
    	//游戏配置
    	var gameConfig = {
    		debug:false,                    //是否本地调试模式
    		subscribe:'<%= subscribe %>',  //是否需要关注公众号才能游戏  0不需要 1需要
    		picture: '<%= picture %>',     //关注的公众号二维码图片地址
    		openid:'<%= openid %>',        //用户openid
    		headimgurl:'<%= headimgurl %>',//用户头像
    		nickname:'<%= nickname %>',    //用户昵称
    		server:"http://" + '<%= host %>' + ":" + '<%= port %>' + "/mobile",  //服务器地址
    		rid:'<%= rid %>'               //房间号 
    	}
    	
    	//测试
    	gameConfig.server = "http://192.168.1.114:4000/mobile";
    	gameConfig.rid = "1";
    	gameConfig.subscribe = 1;
    	gameConfig.picture = "";
    	gameConfig.openid = new Date().getTime();
    	gameConfig.headimgurl = "";
    	gameConfig.nickname = gameConfig.openid;
    	
    	if(gameConfig.debug == true){
    			gameConfig.subscribe = 1;
    			gameConfig.picture = "";
    			//gameConfig.server = "http://192.168.1.111:3000";
    			gameConfig.rid = Request("rid");
    	}		
    	
    	
    	//是否需要关注公众号
        if(gameConfig.subscribe == 1){
    		egret.runEgret();			
    	}else{
    		showQRCode();
    	}
    	
    	//显示二维码			
    	function showQRCode(){
    		//显示关注公众号图片
    		var gameDiv = document.getElementById("gameDiv");
    		gameDiv.style.display = "none";
    		
    		var gzhImg = document.getElementById("gzhImg");
    		gzhImg.src = gameConfig.picture;
    		
    		var gzh = document.getElementById("gzh");
    		gzh.style.display = "block";
    		
    		var clientHeight = document.body.clientHeight;
    		var gzhTitle = document.getElementById("gzhTitle");
    		gzhTitle.style.paddingTop = (clientHeight - 300)/2 + "px" ;
    	}
    	
    	//获取get的值		
    	function Request(argname) 
    	{ 
    		var url = document.location.href; 
    		var arrStr = url.substring(url.indexOf("?")+1).split("&"); 
    		//return arrStr; 
    		for(var i =0;i<arrStr.length;i++) 
            { 
                  var loc = arrStr[i].indexOf(argname+"="); 
                   if(loc!=-1) 
                  { 
                        return arrStr[i].replace(argname+"=","").replace("?",""); 
                        break; 
                   } 
            } 
            return ""; 
        }
    </script>
</body>
</html>















