<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>Egret</title>
    <meta name="viewport" content="width=device-width,initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="full-screen" content="true"/>
    <meta name="screen-orientation" content="portrait"/>
    <meta name="x5-fullscreen" content="true"/>
    <meta name="360-fullscreen" content="true"/>
    <style>
        html, body {
            -ms-touch-action: none;
            background: #ffffff;
            padding: 0;
            border: 0;
            margin: 0;
            height: 100%;
        }
    </style>

    <!--这个标签为通过egret提供的第三方库的方式生成的 javascript 文件。删除 modules_files 标签后，库文件加载列表将不会变化，请谨慎操作！-->
    <!--modules_files_start-->
	<script egret="lib" src="libs/modules/egret/egret.min.js"></script>
	<script egret="lib" src="libs/modules/egret/egret.web.min.js"></script>
	<script egret="lib" src="libs/modules/eui/eui.min.js"></script>
	<script egret="lib" src="libs/modules/res/res.min.js"></script>
	<script egret="lib" src="libs/modules/tween/tween.min.js"></script>
	<script egret="lib" src="libs/modules/game/game.min.js"></script>
	<script egret="lib" src="libs/modules/game/game.web.min.js"></script>
	<script egret="lib" src="libs/modules/socket.io/socket.io.min.js"></script>
	<!--modules_files_end-->

    <!--这个标签为不通过egret提供的第三方库的方式使用的 javascript 文件，请将这些文件放在libs下，但不要放在modules下面。-->
    <!--other_libs_files_start-->
    <!--other_libs_files_end-->

    <!--这个标签会被替换为项目中所有的 javascript 文件。删除 game_files 标签后，项目文件加载列表将不会变化，请谨慎操作！-->
    <!--game_files_start-->
	<script src="main.min.js"></script>
	<!--game_files_end-->
</head>
<body>

    <div style="margin: auto;width: 100%;height: 100%;" class="egret-player"
         data-entry-class="Main"
         data-orientation="landSpace"
         data-scale-mode="showAll"
         data-frame-rate="60"
         data-content-width="1920"
         data-content-height="1080"
         data-show-paint-rect="false"
         data-multi-fingered="2"
         data-show-fps="true" data-show-log="true"
         data-log-filter="" data-show-fps-style="x:0,y:0,size:30,textColor:0x00c200,bgAlpha:0.9">
    </div>
    
    <!-- 二维码 -->
    <script type="text/javascript" src="jquery-1.5.2.min.js"></script> 
    <script type="text/javascript" src="jquery.qrcode.min.js"></script> 
    <div id="code" style="display:none"></div>
    <!-- end 二维码 -->
    
    <script>
    	//游戏配置
    	var gameConfig = {
    		debug:false,                                   //是否本地调试模式
    		codeWidth:250,                                //二维码宽
    		codeHeight:250,                               //二维码高
    		codeData:"",                                  //二维码数据
    		logoUrl:"",                                   //二维码中心图片地址
    		needfollow : '<%= needfollow %>',             //是否需要关注公众号
    		pictrue : '<%= picture %>',                   //公众号图片地址                 
    		server:"http://" + "<%= host %>" + ":" +  "<%= port %>" + "/screen", //服务器地址
    		codeUrl:"http://"+ "<%= host %>" + ":" + "<%= port %>" + "/mobile?needfollow=" + 
    		"<%= needfollow %>" + "&picture=" + "<%= picture %>",  //二维码地址 
    	}
    	
    	//调试模式		    
    	if(gameConfig.debug == true){
    		//gameConfig.server = "http://192.168.1.111:3000";
    		gameConfig.codeUrl = "http://192.168.1.111/1/index.html";
    	}    
        gameConfig.server = "http://192.168.1.114:4000/screen";
        gameConfig.codeUrl = "http://192.168.1.111/1/index.html";
		
    	//创建二维码图片，提供图片dataUrl给egret创建Image
    	function createQRCode(rid){
	    	var codeUrl = gameConfig.codeUrl + "?rid=" + rid;
	    	var codeWidth = gameConfig.codeWidth;
	    	var codeHeight = gameConfig.codeHeight;
	    	$("#code").qrcode({ width: codeWidth, height:codeHeight,text:codeUrl });
	    	var i=$("#code > canvas");
	    	var codeData=i[0].toDataURL();
	    	gameConfig.codeData = codeData;
    		    gameConfig.rid = rid;
	    	//删除所有子节点
	    	var codeDiv = document.getElementById("code");
	    	codeDiv.innerHTML = "";
    		console.log("createQRCode Complete:",codeUrl);
    	}
    	
    	
    	
        //运行游戏
        egret.runEgret();
    </script>
    
    
    
    
    
</body>
</html>















